@import 'tailwindcss';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer base, components, theme, utilities;
@source inline("{text,bg,border}-{main-500,main-800,zinc-50,zinc-100,zinc-200,zinc-300,zinc-400,zinc-500,zinc-600,zinc-700,zinc-800,error,white,black}");

@layer base {
  html {
    font-size: 62.5%;
  }
  body {
    padding: 0;
    margin: 0;
  }
}

@theme {
  /* Main Colors */
  --color-main-500: #00b140;
  --color-main-800: #176435;

  /* Zinc Gray Scale (Light → Dark) */
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f4;
  --color-zinc-200: #e4e3e6;
  --color-zinc-300: #d4d3d8;
  --color-zinc-400: #a0a1aa;
  --color-zinc-500: #70717a;
  --color-zinc-600: #51525b;
  --color-zinc-700: #403f46;
  --color-zinc-800: #272729;

  /* System Colors */
  --color-error: #f44336;
  --color-white: #ffffff;
  --color-black: #121212;
}

@layer utilities {
  /* Typography Scale (Text Styles) */
  .h1 {
    font-size: 3rem;
    line-height: 4rem;
    letter-spacing: -0.3px;
  }

  .t1 {
    font-size: 2.8rem;
    line-height: 3.4rem;
    letter-spacing: -0.3px;
  }

  .t2 {
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: -0.3px;
  }

  .t3 {
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: -0.3px;
  }

  .b1 {
    font-size: 1.7rem;
    line-height: 2.4rem;
    letter-spacing: -0.3px;
  }

  .b2 {
    font-size: 1.6rem;
    line-height: 2.3rem;
    letter-spacing: -0.3px;
  }

  .b3 {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.3px;
  }

  .b3b {
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.3px;
    font-weight: bold;
  }

  .b4 {
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: -0.3px;
  }

  .b4b {
    font-size: 1.3rem;
    line-height: 1.9rem;
    letter-spacing: -0.3px;
    font-weight: bold;
  }

  .e1 {
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: -0.3px;
  }

  .e2 {
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: -0.3px;
  }

  /* Logo Titles */
  .l1 {
    font-size: 3.4rem;
    line-height: 4rem;
    letter-spacing: -0.3px;
    font-weight: bold;
  }

  .l2 {
    font-size: 2rem;
    line-height: 4rem;
    letter-spacing: -0.3px;
    font-weight: bold;
  }
}
